.numbers-section {
    padding-block: 50px 78px;
}

.numbers-container {
    max-width: 1140px;
    margin-inline: auto;
    background-color: var(--bg-color-matte);
    border-radius: 30px;
    padding: 35px 10px 10px;
    display: flex;
}

.numbers-card {
    padding: 10px;
    width: calc(100%/3);
}

.numbers-card > div {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.numbers-card > div > * {
    font-size: 70px;
    line-height: 65px;
    font-family: Brik;
    letter-spacing: -3px;
    color: var(--color-green);
}

.numbers-card > p {
    text-align: center;
    line-height: 45px;
}
